body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  overflow-x: hidden;
}

p {
  font-size: 1.1rem;

  @include lg {
    font-size: 1rem;
  }
  @include md {
    font-size: 0.8rem;
  }
}

strong {
  font-size: 1.3rem;

  @include lg {
    font-size: 1rem;
  }
  @include md {
    font-size: 0.9rem;
  }
}

.btn {
  width: 170px;
  height: 36px;
  padding: 3px;
  border: 1px solid #e2dddd36;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 20%);

  @include md {
    display: none;
  }
}
