/*
essential styles:
these make the slideshow work
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  overflow-x: hidden;
}

p {
  font-size: 1.1rem;
}

strong {
  font-size: 1.3rem;
}

.slides {
  position: relative;
  height: 150px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.active {
  opacity: 1;
  z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.slides {
  margin-bottom: 1em;
  user-select: none;
  width: 97vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.indicators,
.controls {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.indicator,
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5em 1em;
  user-select: none;
}

.indicators {
  position: absolute;
  top: 110vh;
  left: 42%;
  z-index: 2;
}

.indicator {
  width: 28px;
  height: 2px;
  padding: 2px;
  background-color: #fff;
  opacity: 0.3;
  border: 1px solid gray;
  border-radius: 1em;
}

.indicator.active {
  background-color: #fff;
  opacity: 0.9;
}

.control-pause {
  position: absolute;
  top: 55%;
  left: calc(50% - 11vw);
  font-size: 7rem;
  color: #fff;
  opacity: 0;
  transition: 3s;
  z-index: 2;
}

.control-pause:focus,
.control-pause:hover {
  transition: opacity 1s ease-in 0.5s;
  opacity: 0.9;
}

.control-prev {
  position: absolute;
  top: 61%;
  left: -3%;
  font-size: 68px;
  z-index: 2;
  color: #fff;
  opacity: 0.3;
}

.control-next {
  position: absolute;
  top: 61%;
  right: -3%;
  font-size: 68px;
  z-index: 2;
  color: #fff;
  opacity: 0.5;
}

.control-prev:hover,
.control-next:hover {
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 50px;
}

.header__left-block {
  display: flex;
  justify-content: space-between;
  min-width: 490px;
}

.header__right-block {
  display: flex;
  align-items: flex-end;
  gap: 1em;
  min-width: 220px;
}

.header__logo {
  max-width: 100px;
  display: flex;
}

.header__logo img {
  height: 42px;
  margin-right: -9px;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__link {
  position: relative;
  margin-right: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #303030;
}

.header__link:after {
  content: "";
  position: absolute;
  display: block;
  width: 110%;
  left: -5%;
  bottom: -1px;
  z-index: -1;
  height: 8px;
  background: #abedff;
}

.header__link:last-child {
  margin-right: 0;
}

.footer {
  height: 50px;
  padding: 20px 30px;
  color: #000;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subtitle {
  font-size: 20px;
}

.social {
  margin-left: 20px;
}

.link {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #000;
}

.call {
  text-align: right;
  margin-right: 20px;
}
